body {
  font-family: Helvetica;
  color: #333;
  max-width: 800px;
}

.badge {
  display: inline-block;
  margin: 1em;
}

.badge img {
  max-width: 320px;
  max-height: 320px;
  vertical-align: middle;
}

/* Vertical alignment hack */
.valignHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.metadata {
  font-family: Helvetica;
  padding: 8px;
}

.front, .back {
  border-radius: 10px;
  background: #eee;
}

.front {
  text-align: center;
}
