/* Unreplaced img */
.flip {
  max-width: 280px;
  max-height: 280px;
}

/* Flip card styles */
.badge {
  display: inline-block;
  margin: 1em;
}

.badge img.baked {
  display: inline-block;
  max-width: 280px;
  max-height: 280px;
  vertical-align: middle;
  margin: 0;
  border-radius: none;
}

/* Vertical alignment hack */
.badge .valignHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.badge .metadata {
  font-family: Helvetica;
  padding: 8px;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.badge .metadata .name {
  font-size: 1.5em;
  margin-top: 0;
}

.badge .metadata .footer {
  width: 100%;
  min-height: 3em;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 0.5em);
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 0.5em);
  background: -ms-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 0.5em);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 0.5em);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 0.5em);
  margin-left: -8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.badge .metadata .footer .criteria {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.badge .metadata .footer .evidence {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.flip-container,
.flip-container .front,
.flip-container .back {
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.flip-container .front,
.flip-container .back {
  border-radius: 10px;
  background: #eee;
}

.flip-container .front {
  text-align: center;
}
